<template>
  <div class="{{componentNameKebab}}">
    {{{templateContent}}}
  </div>
</template>

{{scriptBlock}}

<style scoped>
.{{componentNameKebab}} {
  /* TODO: Add styles for {{componentNameKebab}} */
}
</style>
